* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #ffffff;
    color: #111827;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* HEADER */
header {
    background-color: #ffffff;
    border-bottom: 3px solid #3b82f6;
    padding: 20px;
    text-align: center;
    font-size: 1.8rem;
    font-weight: bold;
    color: #1e3a8a;
}

/* MAIN */
main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

/* CARD */
section {
    background: #ffffff;
    border: 1px solid #e5e7eb;
    border-left: 6px solid #3b82f6;
    padding: 25px;
    border-radius: 10px;
    width: 100%;
    max-width: 400px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.05);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #1e3a8a;
}

label {
    font-weight: bold;
    font-size: 0.9rem;
}

input {
    width: 100%;
    padding: 10px;
    margin: 5px 0 15px;
    border: 1px solid #60a5fa;
    border-radius: 6px;
}

input:focus {
    outline: none;
    border-color: #2563eb;
    box-shadow: 0 0 6px rgba(37, 99, 235, 0.3);
}

/* BOTÃO */
button {
    width: 100%;
    background: #3b82f6;
    color: white;
    border: none;
    padding: 12px;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #2563eb;
}

/* RESULTADO */
.resultado {
    margin-top: 20px;
    padding: 15px;
    background: #f9fafb;
    border-radius: 6px;
    border: 1px solid #e5e7eb;
}

/* FOOTER */
footer {
    background: #f9fafb;
    padding: 10px;
    text-align: center;
    border-top: 1px solid #e5e7eb;
}

/* ERRO */
.footer-erro {
    background: #dc2626 !important;
    color: #ffffff !important;
    font-weight: bold;
}
backgrou